@import './base.css';

.home .main__heading {
  font-size: 128px;
  font-weight: 700;
}

.home .main__sub-heading {
  font-size: 40px;
}

@media (max-width: 1200px) {
  .home .main__heading {
    font-size: 64px;
  }
}

@media (max-width: 600px) {
  .home .main__heading {
    font-size: 36px;
  }

  .home .main__sub-heading {
    font-size: 20px;
  }
}
